.form-page-canvas {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 100px;
}

.form-input-field {
    width: 400px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: transparent;
    padding: 1em;
}

.game-form-container {
    position: absolute;
    top: 20%;
    background-color: white;
    display: flex;
    height: auto;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    border-radius: 7px;
}

.form-btn {
    background-color: #FFD700;
    padding: 1em;
    border-radius: 4px;
    border: black 1px solid;
    width: 100%;
}

.form-btn:hover {
    cursor: pointer;
    background-color: black;
    color: #FFD700;
}

.form-errors {
    color: red;
    font-weight: 900;
}

.form-errors-container {
    position: relative;
}

@media only screen and (max-width: 1000px) {
    
    input.form-input-field {
        width: 700px;
    }

    .game-form-container {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    
    input.form-input-field {
        width: 90vw;
    }

    .game-form-container {
        height: auto;
    }
}